<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% found.forEach(function(movie){ %>
        <h3 ><%= movie.name %></h3>
    <p><img src="<%= movie.img %>" alt="<%= movie.name %> " height="300"></p>
    <% const summary = movie.summary; %>
      <p><%= summary %></p>
    <% }); %>
</body>
</html>